/*styling for the dnd logo at the top of the page*/
.TopPageLogo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 99%;
    
}
/*styling for the heading bar below the logo*/
.TitleHR
{
    height: 3px;
    background-color: red;
    border-color: red;
}
.TitleName, .MainPageDesc, .mainstyle h2
{
    text-align: center;
    
}
.MainPageDesc p
{
    font-size: 20px;
}
.TitleName h1, .TitleName h2
{
    display: inline-block;
}
.TitleName h3
{
    margin-top: -20px;
}

.NavBar
{
    text-align: center;
}

body
{
    background-image: url(../Images/Scrollbackground.jpg);
    width: 100%;
    height: 100%;
    font-family:cursive
}

.mainstyle img
{
    width: 400px;
    height: 500px;
}

.charinfoContainer, .formstyle
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.charinfoImage
{
    flex-basis: 40%;
}

.charinfoText
{
    font-size: 20px;
    padding-left: 20px;
   
}

.formstyle form
{
    text-align: center;
}
footer
{
    text-align: center;
}

.worldmap
{
    width: 70%;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}