/*styling for the dnd logo at the top of the page*/
.TopPageLogo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    
}
/*styling for the heading bar below the logo*/
.TitleHR
{
    height: 3px;
    width: 100%;
    background-color: red;
    border-color: red;
}
.TitleName, .MainPageDesc, .mainpagedetails h2, .worldpagedetails h2
{
    text-align: center;
    
}
.MainPageDesc p
{
    font-size: 20px;
}
.TitleName h1, .TitleName h2
{
    display: inline-block;
}
.TitleName h3
{
    margin-top: -20px;
}

.NavBar
{
    text-align: center;
}

body
{
    background-image: url(../Images/Scrollbackground.jpg);
    width: 100%;
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
}

.mainpagedetails p .worldpagedetails p
{
    font-size: 20px;
    text-align: left;
}
.mainpagedetails img
{
    display: block;
    margin: auto;
    width: 400px;
    height: 500px;
    border: 5px solid black;
}

.formstyle
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer
{
    text-align: center;
}

.worldpagedetails img
{
    width: 70%;
    height: 10%;
    display: block;
    margin:auto;
    border: 5px solid black;
}